@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root{
    --padding-container: 100px 0;
    --color-title: #ffffff;
    --color-title2: #1d1d1d;

}

body{
    font-family: 'Poppins', serif;
    background-color: #c2b4b4;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    overflow: hidden;
}

.hero{
width: 100%;
height: 100vh;
min-height: 600px;
max-height: 800px;
position: relative;
display: grid;
grid-template-rows: 100px 1fr ;
color: #ffffff;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../Images/ECG.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);    background-size: cover;
    z-index: -1;
}
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__title{
    font-weight: 400;
}
.nav__items{
    list-style: none;
}
.nav__link{
    display: grid;
    margin-left: auto;
    padding: 0;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__links{
    color: #ffffff;
    text-decoration: none;
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__img{
    display: block;
    width: 30px;
}
.nav__close{
    display: var(--show,none);
}
/*hero container xd???*/

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2e353b;
    justify-self: center;
    color: #ffffff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}
/*About lo que es ¿Qué es un infarto?*/

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title2);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto; 
}
.about__icon{
    width: 40px;
}

/*Adaptar a dispositivos móviles*/
@media (max-width:800px){
  .nav__menu{
    display: block;
  }

    .nav__link--menu{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;

    }
    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
 
   }
 .hero__title{
    font-size: 2.5rem;
 }
.about__paragraph{
    gap: 2em;
}

.about__icons:last-of-type{
    grid-column: 1/-2;
}
}



